body {
	background-color: #0D0A06; /*  Black  */                                                           
}

                                                           
h1, p {
	color: #FFF; /* White */  
	font-family: Helvetica, sans-serif; 
	text-align: left;                                                        
}

ul {
	font: 1.6em "Times new roman", Helvetica, sans-serif;
}

